<p>あなたの担当パートを教えてください</p>
<%= submit_tag 'Vo'%>
<%= submit_tag 'Gt'%>
<%= submit_tag 'Gt&Vo'%>
<%= submit_tag 'Ba'%>
<%= submit_tag 'Dr'%>
<%= submit_tag 'Key'%>
<%= submit_tag 'Sax'%>
<%= submit_tag 'Pa'%>
<%= submit_tag 'Other'%>
